.button{
    padding: 0;
    width: 170px;
    height: 35px;
    border-radius: 10px;

    font-weight: 500;
    
    font-size: 18px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    position: relative;
    
}

.button:hover{
    cursor: pointer;
    transition: transform .2s;
}

.button:active{
    transform: scale(.9);
    transition: transform .2s;
}

.loader{
    margin: 0;
    /* width: 50%; */
    height: 100%;

    border-radius: 9px;
    border-bottom: 4px solid rgb(100, 40, 157);
    
    animation-name: load;
    animation-duration: 5s;
    animation-timing-function: linear;

    position: absolute;
    bottom: 0;
}

@keyframes load{
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}

.bgDark, .selected{
    background-color: #000917;
    border: 1px solid #4B89DC;
    color: #4B89DC;
    transition: color .2s, background-color .2s, transform .2s;
}

.bgDark:hover{
    color: #000917;
    background-color: #4B89DC;
    transition: color .2s, background-color .2s, transform .2s;
}

.bgLight{
    cursor: pointer;
    color: #000917;
    border: 1px solid #000917;
    background-color: #4B89DC;
    transition: color .2s, background-color .2s, transform .2s;
}

.bgLight:hover{
    background-color: #000917;
    color: #4B89DC;
    transition: color .2s, background-color .2s, transform .2s;
}

.bgLight:active{
    transform: scale(.9);
    transition: transform .2s;
}

/* extra large monitors */
@media (min-width: 1400px) and (max-width: 1920px){
    .button{
        
        /* width: 170px;
        height: 35px; */
        width: 204px;
        height: 42px;
        border-radius: 12px;
    
        font-weight: 500;
        
        font-size: 21px;
        line-height: 28px;
        font-family: 'Inter', sans-serif;
        position: relative;
        
    }
}