.container{
    height: 92vh;
    background-color: #4B89DC;
    color: #000917;
    
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.titleContainer{    
    font-size: 40px;

    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.certificatesContainer{
    /* width: 100%; */
    /* background-color: crimson; */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content{
    width: 220px;
    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #4B89DC;
    /* transform: scale(.98); */
    border-radius: 50%;
}

.totalCertificates{
    /* background: conic-gradient(
        #000917 180deg,
        #4B89DC 270deg
    ); */
    width: 226px;
    height: 226px;
    /* border: 6px solid black; */
    border-radius: 50%;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number{
    font-size: 96px;
}

.concept{
    font-size: 48px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}

.list{
    height: 400px;
    /* background-color: #4B89DC; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item{
    font-size: 27px;
}

.certificate{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.institution{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.progress{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}