.descriptionContainer{
    width: 80%;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.p{
    line-height: 30px;
}

.buttons{
    
    /* background-color: aquamarine; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1400px) and (max-width: 1920px){
    .descriptionContainer{
        width: 80%;
        font-size: 30px;
        gap: 20px
    }
}