.container{
    width: 100%;
    height: 92vh;

    background-color: rgb(0, 9, 23);
    color: aliceblue;
}

.project{
    height: 90vh;
    margin: 0 auto;
    padding: 5px;
    overflow-y: scroll;
}

.top{
    /* margin-bottom: 10px; */
    height: 490px;

    display: flex;
    justify-content: space-between;
}

.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    width: 50%;
    
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header{
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftSection{
    display: flex;
    align-items: flex-end;
}

.version{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color: grey;
}

.name{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.small{
    font-size: 40px;
}

.normal{
    font-size: 60px;
}

.normalIcon{
    width: 110px;
}

.smallIcon{
    width: 80px;
}

.paragraph{
    margin: 40px 20px;
    /* background-color: aqua; */
}

.description_title{
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: bold;
    
}

.text{
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.color1{
    color: #2A96AE
}

.color2{
    color: #AE2A52
}

.color3{
    color: #2DAE2A
}

.project::-webkit-scrollbar{
    width: 10px;
    height: 100%;
}

.project::-webkit-scrollbar-thumb {
    background-color: rgba(86, 86, 86, 0.3);
    border-radius: 100px;
}

.project::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
}

/* tiny monitor */
@media (min-width: 1024px) and (max-width: 1360px){
    .version{
        font-size: 15px;
    }

    .small{
        font-size: 20px;
    }
    
    .normal{
        font-size: 50px;
    }

    .normalIcon{
        width: calc(110px - 20px);
    }
    
    .smallIcon{
        width: calc(80px - 20px);
    }
}

@media (min-width: 1400px) and (max-width: 1920px){
    .text{
        font-size: 30px;
    }

    .description_title{
        font-size: 70px;
    }
}