.background{
    width: 100%;
    height: 92vh;

    position: absolute;
    background-color: rgba(0, 0, 0, .7);
}

.modal{
    width: 904px;
    height: 508px;
    background-color: #4B89DC;

    border-radius: 26px;

    position: absolute;
    
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
}

.title{
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;

    /* background-color: blueviolet; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer{
    padding: 15px;
    /* background-color: cadetblue; */
}

.text{
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: white;

    /* background-color: cadetblue; */
}

@media (min-width: 1400px) and (max-width: 1920px){
    .modal{
        width: calc(904px * 1.3);
        height: calc(508px * 1.3);
    }

    .text{
        font-size: 25px;
    }
}