.container{
    width: fit-content;
    /* height: 350px; */
    /* background-color: beige; */
}

.imgContainer{
    margin-bottom: 15px;
    width: 500px;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
}

.image{
    object-fit: contain;
    border-radius: 16px;
}

.pagination{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

.circleGroup{
    width: 150px;
    
    /* background-color: cadetblue; */

    display: flex;
    justify-content: space-between;
}

.circle{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
}

.circle:hover{
    cursor: pointer;
}

.selected{
    background-color: white;
}

.prev, .next{
    width: 50px;
}

.prev:hover, .next:hover{
    cursor: pointer;
}

.buttons{
    width: 460px;
    height: inherit;
    /* background-color: aqua; */
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;
}