.container{
    width: 610px;
    height: 423px;
    
    /* background-color: rgb(99, 99, 99); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topContainer{
    width: inherit;
    height: 90%;
    background-color: black;
    box-sizing: border-box;
    border-radius: 20px;
}

.img{
    /* width: 100%;
    max-height: 100%; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.circles{
    margin: 0 auto;
    width: fit-content;
    height: 27px;
    /* background-color: aqua; */
    display: flex;
}

.circle{
    margin: 0 5px;
    width: 27px;
    height: 27px;

    border: 2px solid white;
    border-radius: 50%;

    box-sizing: border-box;
}

.circle:hover{
    cursor: pointer;
}

.selected{
    background-color: white;
}