.containerFlex{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: chocolate; */
    background-color: #000917;
}

.container{
    width: 90%;
    color: #4B89DC;

    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 2fr;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image{
    width: 350px;
    /* height: 397px; */

    border-radius: 50%;
    border: 4px solid rgba(72, 207, 174, 0.48);
}

.icon{
    width: 69px;
}

.marco{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats{
    display: flex;
    justify-content: space-between;
}

.stat{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
}

.statNumber{
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.statConcept{
    font-weight: 100;
    font-family: 'Inter', sans-serif;
}

.social{
    display: flex;
    justify-content: space-around;
}

.name{
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;

    color: #6FA4EA;
    font-family: 'Inter', sans-serif;
}

.profesion{    
    font-weight: light;
    font-size: 28px;
    color: #8A8A8A;
    font-family: 'Inter', sans-serif;
}

.descriptionContainer{
    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.description{
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;

    color: #FFFFFF;
}

