.containerFlex{
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: chocolate; */
    background-color: #000917;
}

.container{
    width: 90%;
    color: #4B89DC;

    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 2fr;
}

.left{
    width: 500px;
    height: 520px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image{
    width: 300px;
    /* height: 397px; */
    /* background-color: bisque; */
    border-radius: 50%;
    border: 4px solid rgba(72, 207, 174, 0.48);
}

.icon{
    width: 80px;
    /* background-color: #8A8A8A; */
}

.marco{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: #8A8A8A; */
}

.stats{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: brown; */
}

.stat{
    min-width: 80px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    /* background-color: rgba(95, 158, 160, 0.4); */
}

.statNumber{
    font-weight: 600;
    font-family: 'Inter', sans-serif;

}

.statConcept{
    font-weight: 100;
    font-family: 'Inter', sans-serif;
}

.social{
    width: 100%;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-around;
}

.name{
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;

    color: #6FA4EA;
    font-family: 'Inter', sans-serif;
}

.profesion{    
    font-weight: 200;
    font-size: 28px;
    color: #8A8A8A;
    font-family: 'Inter', sans-serif;
    /* display:inline-block; */
    /* background-color: rebeccapurple; */
    
}

.descriptionContainer{
    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.description{
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;

    color: #FFFFFF;
}

